{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "6.10.3"
      },
      "useBuiltIns": "entry",
      "corejs": "3",
      "modules": false
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-modules-commonjs"]
  ]
}
