.vscode
.serverless
coverage
.nyc_output
test/
testbed/
.circleci
.travis.yml
Jenkinsfile
.eslintrc.js
.eslintignore
.babelrc
.github/
stryker.conf.js
build/
es2015/
e2e/
.nvmrc

# npm pack leftovers
*.tgz

# git stuff              
.github/CONTRIBUTING.md         
.github/ISSUE_TEMPLATE.md       
.github/PULL_REQUEST_TEMPLATE.md

# pipeline release config
.releaserc.json

# babel configurations
babel.cjs.json
babel.esm.json
